body[data-theme="dark"] {  

   @import '/src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #8C8C8C;
   }

   #home {
      background-image: url(../../../public/images/themes/background-concrete.png);
      background-size: cover;
   }

   .title-styles {
      color: white;
   }

   .header-icon {
      color: whitesmoke;
      opacity: 0.8;
   }

   .slider-image {
      border: 5px solid #8C8C8C;
   }

   .language {
      background-color: #494949;
   }

   .link-href {
      color: white;
   }

   #header-component {
      background-image: url(../../../public/images/themes/background-geo.png);
      background-size: cover;
   }

   .title-container {
      color: white;
   }

   .project-date {
      background-color: #918e97;
      color: white;
   }

   header {
      background-color: #494949;
      h1 {
         color: white;
      }
   }

   #about {
      background-color: #596D8F;
      h1 span {
         color: white;
      }
      .polaroid span {
         background:  #4B525C
      }
      .card {
         background: #4B525C;
         color: white;
      }
   }

   #portfolio {
      background: #4B525C;
      .section-title {
         color: white !important;
      }
      .foto div {
         background: whitesmoke
      }
      .project-title-settings {
         color: #4B525C;;
      }
   }

   #resume {
      filter: brightness(80%);
      background: #5b5b5b;
      .section-title {
         color: white !important;
      }

      .experience-badge {
         background: #111F3B !important;
         color: white;
      }

      .main-badge {
         background: #111F3B !important;
      }

      .vertical-timeline-element-date {
         color: white;
      }

      .vertical-timeline-element-icon {
         background: #919191 !important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .modal-inside .modal-content {
      background: #5b5b5b;
      color: white;
   }

   .close-icon {
      color: white;
   }
}
