body[data-theme="light"] {
    @import '/src/scss/light-slider.scss';
 
    .slider-tab {
       background-color: #D7CAAA;
    }
}

 #home {
    background-image: url(../../../public/images/themes/background-white.png);
    background-size: cover;
 }
